# MongoDB Configuration
# Copy this file to .env and fill in your values
# DO NOT commit .env to version control

MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=Cluster0&retryWrites=true&w=majority
DB_NAME=obistral

# Server Configuration
PORT=3004
